@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  background-color: #ddd6fe;
}

/* .tag{
  background-color: #6D28D9;
  padding: 2px 3px;
} */
.green {
  color: #047857;
}
.yellow {
  color: #f59e0b;
}
.red {
  color: #ef4444;
}
#rating {
  font-weight: bold;
}

/* signup */
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  color: #818cf8;
  font-family: "Poppins", sans-serif;
}
.imagediv {
  border: none;
  overflow: hidden;
  height: 50vh;
  position: relative;
  opacity: 0.8;
}
.main-modal {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(139, 150, 143, 0.5);
}

.main-modal img {
  max-height: 80%;
  max-width: 60%;
  display: block;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
}
.sub-modal {
  
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.sub-modal p{
  padding: 1rem;
  margin: 0;
  background-color: black;
  color: white;
  width: 20%;
  max-height: 50%;
}