@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
body {
  background-color: #ddd6fe;
}

/* .tag{
  background-color: #6D28D9;
  padding: 2px 3px;
} */
.green {
  color: #047857;
  margin: 0;
  text-align: start;
  align-self: center;
  font-weight: bold;
}
.yellow {
  align-self: center;
  margin: 0;
  color: #f59e0b;
  text-align: start;
  font-weight: bold;
}
.red {
  align-self: center;
  margin: 0;
  color: #ef4444;
  text-align: start;
  font-weight: bold;
}
#rating {
  font-weight: bold;
  padding: 0;
  align-self: flex-start;
}

/* signup */
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  color: #818cf8;
  font-family: "Poppins", sans-serif;
}
.imagediv {
  border: none;
  overflow: hidden;
  max-height: 10%;
  position: relative;
  opacity: 0.8;
}
.main-modal {
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(139, 150, 143, 0.5);
}

/* .main-modal img {
  max-height: 80%;
  max-width: 60%;
  display: block;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.5);
} */
.sub-modal {
  /* height: 60%; */
  position: absolute;
  /* background-color: gray; */
  max-width: 500px;
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sub-modal img {
  border-radius: 1rem 1rem 0 0;
  height: 250px;
  object-fit: fill;
  width: 100%;
  /* object-fit: contain; */
}
.over-para {
  text-align: start;
  padding: 0.5rem 1rem;
  margin: 0 auto;
  /* background-color: black; */
  color: white;
}
.modal-overview {
  /* display: flex; */
  background-color: gray;
  align-self: flex-start;
  max-height: 10%;
  max-width: 100%;
}

.modal-overview h3 {
  margin: 8px 16px;
  text-align: start;
}
/* Favorite button */
.addButton {
  color: #6366f1;
  padding-left: 0.5rem;
  cursor: pointer;
  border: none;
  font-size: 2rem;
  background: transparent;
}
.currentNavbar{
  font-weight: bold;
}  